body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: #009917;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #c6fed3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: row;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

main {
    margin: 10px;
    padding: 10px;
    background-color:#c6fed3;
}

section {
    margin-bottom: 40px;
}
